In [1]:
import pandas as pd 
import numpy as np

In [26]:
df = pd.read_csv("CarPrice_Assignment.csv")

In [27]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [28]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [32]:
df.dtypes

car_ID               int64
symboling            int64
CarName             object
fueltype            object
aspiration          object
doornumber          object
carbody             object
drivewheel          object
enginelocation      object
wheelbase            int64
carlength            int64
carwidth             int64
carheight            int64
curbweight           int64
enginetype          object
cylindernumber      object
enginesize           int64
fuelsystem          object
boreratio            int64
stroke               int64
compressionratio     int64
horsepower           int64
peakrpm              int64
citympg              int64
highwaympg           int64
price                int64
dtype: object

In [34]:
df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [16]:
df['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

## What problems this data contains 
1. Name has lot of unique values
2. Price is float datatype
3. Stoke and compressionratio is also in float datatype 
4. fuel system column have 7 unique data
5. carbody column have 5 unique data

## Solution for those problems
1. We will use the first three words in word column

## Data Cleaning

In [30]:
#we are going to convert the float data into interger data

df[['wheelbase','carlength','carwidth','carheight','boreratio','stroke','compressionratio','price']]  = df[['wheelbase','carlength','carwidth','carheight','boreratio','stroke','compressionratio','price']].astype(int)

In [47]:
#Performing One Hot encoding on categorical data
data = ['fueltype','aspiration','doornumber','carbody','drivewheel','enginelocation','enginetype','cylindernumber','fuelsystem']
df_encoded = pd.get_dummies(df, columns= data, drop_first= True)
df_encoded = df_encoded.replace({True: 1, False: 0})

C:\Users\soham\AppData\Local\Temp\ipykernel_25904\1965747854.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_encoded = df_encoded.replace({True: 1, False: 0})

In [53]:
df_encoded

,car_ID,symboling,CarName,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,...,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,1,3,alfa-romero giulia,88,168,64,48,2548,130,3,...,0,0,0,0,0,0,0,1,0,0
1,2,3,alfa-romero stelvio,88,168,64,48,2548,130,3,...,0,0,0,0,0,0,0,1,0,0
2,3,1,alfa-romero Quadrifoglio,94,171,65,52,2823,152,2,...,0,0,0,0,0,0,0,1,0,0
3,4,2,audi 100 ls,99,176,66,54,2337,109,3,...,0,0,0,0,0,0,0,1,0,0
4,5,2,audi 100ls,99,176,66,54,2824,136,3,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),109,188,68,55,2952,141,3,...,0,0,0,0,0,0,0,1,0,0
201,202,-1,volvo 144ea,109,188,68,55,3049,141,3,...,0,0,0,0,0,0,0,1,0,0
202,203,-1,volvo 244dl,109,188,68,55,3012,173,3,...,0,0,0,0,0,0,0,1,0,0
203,204,-1,volvo 246,109,188,68,55,3217,145,3,...,0,0,0,0,0,1,0,0,0,0
204,205,-1,volvo 264gl,109,188,68,55,3062,141,3,...,0,0,0,0,0,0,0,1,0,0

In [56]:
df_encoded.drop('symboling', axis=1, inplace=True)

In [57]:
df_encoded

,car_ID,CarName,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,1,alfa-romero giulia,88,168,64,48,2548,130,3,2,...,0,0,0,0,0,0,0,1,0,0
1,2,alfa-romero stelvio,88,168,64,48,2548,130,3,2,...,0,0,0,0,0,0,0,1,0,0
2,3,alfa-romero Quadrifoglio,94,171,65,52,2823,152,2,3,...,0,0,0,0,0,0,0,1,0,0
3,4,audi 100 ls,99,176,66,54,2337,109,3,3,...,0,0,0,0,0,0,0,1,0,0
4,5,audi 100ls,99,176,66,54,2824,136,3,3,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,volvo 145e (sw),109,188,68,55,2952,141,3,3,...,0,0,0,0,0,0,0,1,0,0
201,202,volvo 144ea,109,188,68,55,3049,141,3,3,...,0,0,0,0,0,0,0,1,0,0
202,203,volvo 244dl,109,188,68,55,3012,173,3,2,...,0,0,0,0,0,0,0,1,0,0
203,204,volvo 246,109,188,68,55,3217,145,3,3,...,0,0,0,0,0,1,0,0,0,0
204,205,volvo 264gl,109,188,68,55,3062,141,3,3,...,0,0,0,0,0,0,0,1,0,0

In [58]:
df_encoded.describe()

,car_ID,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,98.297561,173.556098,65.414634,53.258537,2555.565854,126.907317,2.887805,2.892683,9.848780,...,0.004878,0.004878,0.019512,0.321951,0.014634,0.097561,0.004878,0.458537,0.043902,0.004878
std,59.322565,6.066158,12.256372,2.162238,2.472692,520.680204,41.642693,0.316379,0.340408,3.991604,...,0.069843,0.069843,0.138655,0.468368,0.120377,0.297446,0.069843,0.499498,0.205380,0.069843
min,1.000000,86.000000,141.000000,60.000000,47.000000,1488.000000,61.000000,2.000000,2.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,52.000000,94.000000,166.000000,64.000000,52.000000,2145.000000,97.000000,3.000000,3.000000,8.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,103.000000,97.000000,173.000000,65.000000,54.000000,2414.000000,120.000000,3.000000,3.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,154.000000,102.000000,183.000000,66.000000,55.000000,2935.000000,141.000000,3.000000,3.000000,9.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,205.000000,120.000000,208.000000,72.000000,59.000000,4066.000000,326.000000,3.000000,4.000000,23.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [60]:
df_encoded.to_csv('cleanedCardata.csv')

## Traning Model

In [74]:
x = df_encoded.drop('price', axis = 1)
y = df['price']

In [77]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.2,random_state= 2)